.about-section {
    grid-column: col-start 1  / col-end;
    padding: 3rem 0;
   
        
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    box-shadow:  .8rem .8rem 1.6rem #c6e2eb, 
                 -.8rem -.8rem 1.6rem #e8ffff;
    border-radius: 2rem;

    @include respond (tab-port) {
        flex-direction: column;
      
    }

    @include respond (phone) {
        padding: 4rem;
    }

    &__img-box {
        width: 25rem;
        height: 27rem;
        border-radius: 50%;
        padding: 2rem;
        box-shadow: .3rem .3rem .9rem rgba(2538, 252, 255, 1),
                -.3rem -.3rem .9rem rgba(47, 48, 49, .1);
        
        
        @include respond (tab-port) {
            margin-bottom: 2em;
            width: 20rem;
            height: 20rem;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: .3rem .3rem .9rem rgba(238, 252, 255, 1),
                    -.3rem -.3rem .9rem rgba(47, 48, 49, .1);
    }

    &__info{
        width: 70rem;
        font-size: 1.6rem;
        color: #777;
        background-color: #fff;
        padding: 2rem ;
        border-radius: 2rem;
        box-shadow: .3rem .3rem .9rem rgba(238, 252, 255, 1),
                    -.3rem -.3rem .9rem rgba(47, 48, 49, .1);


        &-text {
            margin-bottom: 3rem;
            transform: translateY(1.5rem);
        }

        @include respond (tab-port) {
            width: 100%;
        }
    }
    
}
