*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% i.e 1rem = 10px//

    @include respond (tab-land) {
        font-size: 56% ; // 1rem = 9px / 16px = 56%
    }
    @include respond (tab-port) {
        font-size: 50% ;  // 1rem = 8px / 16px = 50% 
    }
    @include respond (big-desktop) {
        font-size: 75%; // 1rem = 12px / 16 = 75%
    }
}


.container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: [full-start]5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr  5rem[full-end];

    @include respond (phone) {
        grid-template-columns: [full-start]3rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr  3rem[full-end];
        
    }

}
