.header {
    background-image:linear-gradient(
        rgba(100, 241, 248, 0.904),
        rgb(215, 246, 255));
    background-size: cover;
    grid-column: full-start 1 / full-end;

    display: grid;
    grid-template-columns: [full-start]5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr 5rem[full-end];   grid-template-rows: 7rem 20rem;
    grid-row-gap: 10vh;
    position: relative;
    
  
    
    
    @include respond (tab-land) {
    }
    
}

.nav {
    font-size: 1.6rem;
    grid-column:  col-start 1 / col-end;
    grid-row: 1 / 1;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    
    
    @include respond (tab-land) {
        align-items: flex-start;
        margin-top: 3rem;
        height: 100%;
        width: 100%;
        position: absolute;
      

    }
    

    &__item {
        width: 40rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 2.5rem 0;
        animation: fadeDown 2s ease-out 0s;

        @include respond (tab-land) {
            font-size: 3rem;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #043133;
            box-shadow: 0 .4rem .7rem rgba(0,0,0, .7);
            position: absolute;
            right: -5rem;
            top: -150rem;
            height: 100vh;
            z-index: 9;
            transition: all .4s ease-out;
        }
    }

    &__open {
        right: -6rem;
        top: -5rem;   
    }

    &__link {
        text-decoration: none;
        color: #043133;
        text-transform: capitalize;
        
        &:hover {
            border-bottom: .2rem solid #fff;
            padding-bottom: 1rem;
        }
        @include respond (tab-land) {
            color: #fff;
        }
    }
    
}
.lines{
    width: 3rem;
    height: 2rem;
    display: none;
    z-index: 19;
    margin-top: 2rem;

    @include respond (tab-land) {
        display: block;
    }
}

.line {
    width: 3rem;
    height: .4rem;
    background-color: #fff;
    margin-bottom: .5rem;
    
}

.logo {
    width: 6rem;
    height: 6rem;
    animation: fadeDown 2s ease-out 0s;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.main-heading {
    color: #0c7275;
    font-size: 5rem;
    font-weight: 550;
    text-transform: uppercase;
    text-shadow: 0 .1rem .2rem rgba(0,0,0, .4);

    @include respond (phone) {
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    
}

.main-paragraph {
    color: #043133;
    max-width: 50rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 300;
    margin-top: -1rem;

    @include respond (phone) {
        font-size: 1.6rem;
    }
    
}

.hire-me {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
    padding: 1.5rem 6rem;
    border: none;
    background-color: #fff;
    border-radius: 10rem;
    margin-top: 4rem;
    box-shadow: 0 .2rem .5rem 0 rgba(0,0,0, .2),
                0 .2rem .5rem 0 rgba(0,0,0, .1);
    outline: none;
    border: .2rem solid #fff;

    animation: wave 1s ease-out .7s;
    backface-visibility: hidden;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border: .2rem solid #fff;
    }

    @include respond (phone) {
        padding: 1rem 4rem
    }
}

