.header {
    height: 100vh;
    background-image:linear-gradient(rgba(111, 234, 241, 0.904), rgb(235, 245, 252));
    grid-column: full-start 1 / full-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 7rem 20rem;
    grid-row-gap: 10vh;
}

.nav {
    font-size: 1.6rem;
    grid-column:  2 / 8;
    grid-row: 1 / 1;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    animation: fadeDown 1s ease-in .3s;

    &__item {
        width: 40rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 2.5rem 0;
    }

    &__link {
        text-decoration: none;
        color: #000;
        text-transform: capitalize;
        
        &:hover {
            border-bottom: .2rem solid #fff;
            padding-bottom: 1rem;
        }
    }
    
}

.logo {
    width: 3rem;
    height: 3rem;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.text-box {
    grid-column: 2 / -1;
    height: 80%;
    padding-left: 2rem;
    border-left: .2rem solid #fff;
    margin-top: 10vh;
}

.main-heading {
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    
}

.main-paragraph {
    width: 50rem;
    font-size: 2rem;
    font-weight: 200;
}

.hire-me {
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.5rem 6rem;
    border: none;
    background-color: #fff;
    border-radius: 10rem;
    margin-top: 2rem;
    box-shadow: .2rem .2rem .6rem rgba(0, 0, 0, .5);
    outline: none;

    animation: fadeTop 1s ease-out .3s;
    backface-visibility: hidden;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        border: .1rem solid #000;
    }
}

