.header-2 {
    
    display: grid;
    grid-template-columns: 5rem max-content 5rem;
    grid-column-gap: 1.5rem;

    align-items: center;
    justify-content: center;
    margin: 3rem 0;

    color: #067075;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header-2:before,
.header-2:after {
    content: "";
    display: block;
    border-bottom: .2rem solid #28e9ef;
}