.technologies {
    grid-column: col-start 1 / col-end;
    padding: 0 2rem;
}




.tools {
    grid-column: col-start 1 / col-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    font-size: 1.6rem;
    padding: 5rem 5rem -5rem 5rem;   
}

.tool {
    box-shadow: -.7rem -.7rem  1.7rem rgba( 255, 255, 255, 1),
                .7rem .7rem 1.7rem rgba(0,0,0, .1);
    text-align: center;
    border-radius: 2rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content;
    grid-gap: .5rem;
    justify-items: center;
 

    &__icon {
        width: 3rem;
        height: 3rem;
        grid-column: 4/ span 2;
        margin-top: 2.5rem;     
    }
    
    &__name {
        font-size: 1.6rem;
        font-weight: 200;
        text-transform: uppercase;
        grid-row: 2 / 3;
        grid-column: 2 / span 6;
        justify-items: center;
        align-self: center;
    }
    
    &__description {
        color: #777;
        padding: 1rem;
    
        grid-column: 1 / -1;
        grid-row: min-content;
        align-self: start;
        
    }
    
    
}

