/*
1 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
[1200 - 1800] is where our nrmal styles apply
1800px  or more: big desktop (4k screen) 

*/
/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end]; }

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #d7f6ff; }

.header-2 {
  display: grid;
  grid-template-columns: 5rem max-content 5rem;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  color: #067075;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.header-2:before,
.header-2:after {
  content: "";
  display: block;
  border-bottom: .2rem solid #28e9ef; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(100, 241, 248, 0.904), #d7f6ff);
  background-size: cover;
  grid-column: full-start 1 / full-end;
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end];
  grid-template-rows: 7rem 20rem;
  grid-row-gap: 10vh;
  position: relative; }

.nav {
  font-size: 1.6rem;
  grid-column: col-start 1 / col-end;
  grid-row: 1 / 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 10rem; }
  .nav__item {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2.5rem 0;
    animation: fadeDown 2s ease-out 0s; }
  .nav__link {
    text-decoration: none;
    color: #043133;
    text-transform: capitalize; }
    .nav__link:hover {
      border-bottom: .2rem solid #fff;
      padding-bottom: 1rem; }

.logo {
  width: 6rem;
  height: 6rem;
  animation: fadeDown 2s ease-out 0s; }

.logo__img {
  width: 100%;
  height: 100%; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.main-heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 550;
  text-transform: uppercase;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4); }

.main-paragraph {
  color: #043133;
  max-width: 50rem;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  margin-top: -1rem; }

.hire-me {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  padding: 1.5rem 6rem;
  border: none;
  background-color: #fff;
  border-radius: 10rem;
  margin-top: 4rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  outline: none;
  border: .2rem solid #fff;
  animation: wave 1s ease-out .7s;
  backface-visibility: hidden; }
  .hire-me:hover {
    cursor: pointer;
    background-color: transparent;
    border: .2rem solid #fff; }

.technologies {
  grid-column: col-start 1 / col-end; }

.tools {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  font-size: 1.6rem;
  padding: 5rem 5rem -5rem 5rem; }
  @media (max-width: 75em) {
    .tools {
      font-size: 1.3em; } }

.tool {
  box-shadow: .4rem .4rem .8rem #c6e2eb,  -.4rem -.4rem .8rem #e8ffff;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content;
  grid-gap: .5rem;
  justify-items: center; }
  .tool__icon {
    text-align: center;
    width: 4rem;
    height: 4rem;
    grid-column: 4/ span 2;
    margin-top: 2.5rem; }
  .tool__name {
    color: #0c7275;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    grid-row: 2 / 3;
    grid-column: 2 / span 6;
    justify-items: center;
    align-self: center; }
  .tool__description {
    color: #777;
    padding: 1rem;
    grid-column: 1 / -1;
    grid-row: min-content;
    align-self: start; }

.projects {
  grid-column: col-start 1 / col-end;
  padding: 3rem 0; }

.project {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 10rem); }
  @media (max-width: 37.5em) {
    .project {
      grid-template-columns: repeat(auto-fit, min-max(20rem, 1fr));
      grid-template-rows: repeat(5, 11rem); } }
  .project__img--box-1 {
    grid-column: 1 / span 5;
    grid-row: 1 / 4;
    box-shadow: .8rem .8rem 1.6rem #c6e2eb,  -.8rem -.8rem 1.6rem #e8ffff;
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem; }
    @media (max-width: 56.25em) {
      .project__img--box-1 {
        grid-column: 1 / -1;
        grid-row: 1 / 4; } }
  .project .project__details--description {
    font-size: 1.6rem;
    padding: 1.5rem; }
    @media (max-width: 56.25em) {
      .project .project__details--description {
        font-size: 1.2em;
        margin-bottom: 3rem; } }
  .project__tech {
    display: flex;
    justify-content: center;
    color: #222;
    text-transform: capitalize;
    list-style: none;
    margin-top: -.5rem; }
  .project__img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-radius: 3.5rem;
    padding: 1.5rem; }
  .project__details-1 {
    background-color: #d7f6ff;
    box-shadow: 0.8rem 0.8rem 1.6rem #c6e2eb, -0.8rem -0.8rem 1.6rem rgba(232, 255, 255, 0.705);
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1.5rem;
    grid-column: 4 / -1;
    grid-row: 3 / 6;
    z-index: 10;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 13rem 3rem;
    grid-row-gap: 3rem;
    grid-column-gap: 6rem; }
    @media (max-width: 56.25em) {
      .project__details-1 {
        grid-column: 1 / -1;
        grid-row: 3 / 6;
        font-size: 1.2em; } }
  .project__used-tech {
    grid-row: 7 / -1;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .project__used-tech {
        margin-top: 3rem; } }
  .project__img--box-2 {
    grid-column: 4 / -1;
    grid-row: 3 / -1;
    box-shadow: .8rem .8rem 1.6rem #c6e2eb,  -.8rem -.8rem 1.6rem #e8ffff;
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem; }
    @media (max-width: 56.25em) {
      .project__img--box-2 {
        grid-column: 1 / -1;
        grid-row: 1 / 4; } }
  .project__img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-radius: 3rem;
    background-position: bottom;
    padding: 1.5rem; }
  .project__details-2 {
    background-color: #d7f6ff;
    box-shadow: 0.8rem 0.8rem 1.6rem rgba(198, 226, 235, 0.705), -0.8rem -0.8rem 1.6rem #e8ffff;
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1.5rem;
    z-index: 10;
    padding: 1.5rem;
    grid-column: 1 / span 5;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 13rem 3rem;
    grid-row-gap: 3rem;
    grid-column-gap: 6rem; }
    @media (max-width: 56.25em) {
      .project__details-2 {
        grid-column: 1 / -1;
        grid-row: 3 / 6;
        font-size: 1.3em; } }
  .project__header {
    margin: 0 auto;
    width: 95%;
    color: #0e868a;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    word-spacing: .2rem;
    border-bottom: .2rem solid #fff;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    grid-column: 1 / -1; }
  .project__details--description {
    color: #666;
    grid-column: 1 / -1; }
  .project__used-tech {
    color: #0e868a;
    grid-row: 7 / -1;
    transform: translateY(-1rem);
    height: .2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; }

.tech-link {
  text-transform: uppercase;
  box-shadow: 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.4);
  text-decoration: none;
  background-color: #d7f6ff;
  color: #0e868a;
  padding: .5rem;
  list-style: none;
  border-radius: .6rem;
  transform: translateY(-1rem); }
  .tech-link:hover {
    color: #0e868a;
    transform: translateY(-0.8rem); }

.about-section {
  grid-column: col-start 1  / col-end;
  padding: 3rem 0; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  box-shadow: .8rem .8rem 1.6rem #c6e2eb,  -.8rem -.8rem 1.6rem #e8ffff;
  border-radius: 2rem; }
  @media (max-width: 56.25em) {
    .about {
      flex-direction: column; } }
  .about__img-box {
    width: 25rem;
    height: 27rem;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 0.3rem 0.3rem 0.9rem #fffcff, -0.3rem -0.3rem 0.9rem rgba(47, 48, 49, 0.1); }
    @media (max-width: 56.25em) {
      .about__img-box {
        margin-bottom: 2em; } }
  .about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.9rem #eefcff, -0.3rem -0.3rem 0.9rem rgba(47, 48, 49, 0.1); }
  .about__info {
    width: 70rem;
    font-size: 1.6rem;
    color: #777;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.9rem #eefcff, -0.3rem -0.3rem 0.9rem rgba(47, 48, 49, 0.1); }
    .about__info-text {
      margin-bottom: 3rem;
      transform: translateY(1.5rem); }
    @media (max-width: 56.25em) {
      .about__info {
        width: 100%; } }

.contacts {
  grid-column: col-start 1 / col-end;
  padding: 2rem 0; }

.contact {
  box-shadow: .8rem .8rem 1.6rem #c6e2eb,  -.8rem -.8rem 1.6rem #e8ffff;
  border-radius: 2rem; }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem; }
  @media (max-width: 56.25em) {
    .form-container {
      padding: 2rem 0; } }

.form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; }
  .form__name {
    width: 50rem;
    border: none;
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 1rem;
    outline: none; }
    @media (max-width: 56.25em) {
      .form__name {
        width: 45rem;
        margin: 0 auto; } }
  .form__email {
    width: 50rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding: 1rem 5rem 1rem 1rem; }
    @media (max-width: 56.25em) {
      .form__email {
        width: 45rem;
        margin: 0 auto; } }
  .form__text-area {
    font-family: sans-serif;
    font-size: 1.6rem;
    width: 50rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem; }

.form > *:not(:last-child) {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #444;
  box-shadow: 0.3rem 0.3rem 0.9rem #eefcff, -0.3rem -0.3rem 0.9rem rgba(47, 48, 49, 0.1); }

.submit {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #0e868a;
  width: 10rem;
  padding: 3rem 3rem;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #d7f6ff;
  box-shadow: .4rem .4rem .8rem #c6e2eb,  -.4rem -.4rem .8rem #e8ffff; }
  .submit:active {
    box-shadow: 0.7rem 0.7rem 1.7rem #eefcff, -0.7rem -0.7rem 1.7rem rgba(47, 48, 49, 0.1); }

.submit:hover {
  cursor: pointer; }

.contact-me {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #0e868a;
  text-align: center;
  padding-top: 3rem; }

.send-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #0e868a; }
  @media (max-width: 37.5em) {
    .send-icon {
      width: 1em;
      height: 1em; } }

.linkedin:hover {
  fill: #211f1f; }

.dribbble:hover {
  fill: #ea4c89; }

.twitter:hover {
  fill: #00acee; }

.github:hover {
  fill: #211f1f; }

.contact-post-img {
  height: 15rem;
  width: 15rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.9rem #eefcff, -0.3rem -0.3rem 0.9rem rgba(47, 48, 49, 0.1); }

.contact-img {
  border-radius: 50%;
  width: 100%;
  height: 100%; }

.social-media {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  border-top: .2rem solid #fff;
  margin: 0 auto; }
  .social-media__icon {
    fill: #0e868a;
    width: 2.5rem;
    height: 2.5rem; }
    @media (max-width: 37.5em) {
      .social-media__icon {
        width: 2rem;
        height: 2rem; } }

.social-media > *:not(:last-child) {
  padding-right: 2rem; }

.footer {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 100;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  60% {
    opacity: .7;
    transform: translateY(-0.5rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-5rem); }
  60% {
    opacity: .7;
    transform: translateY(-0.2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes wave {
  from {
    transform: none; }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg); }
  to {
    transform: none; } }
