*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [full-end]; }

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #ebf5fc; }

.header-2 {
  display: grid;
  grid-template-columns: 5rem max-content 5rem;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 200;
  text-transform: uppercase; }

.header-2:before,
.header-2:after {
  content: "";
  display: block;
  border-bottom: .3rem solid #28e9ef; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(111, 234, 241, 0.904), #ebf5fc);
  background-size: cover;
  grid-column: full-start 1 / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 7rem 20rem;
  grid-row-gap: 10vh;
  position: relative; }

.nav {
  font-size: 1.6rem;
  grid-column: 2 / 8;
  grid-row: 1 / 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center; }
  .nav__item {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2.5rem 0;
    animation: fadeDown 1s ease-out 0s;
    /*& :nth-child(1) {
            animation: fadeDown 1s ease-in 1s;
            
        }   

        & :nth-child(2) {
            animation: fadeDown 1s ease-in 2s;
        }   

        & :nth-child(3) {
            animation: fadeDown 1s ease-in 3s;
        }   

        & :nth-child(4) {
            animation: fadeDown 1s ease-in 4s;
        }**/ }
  .nav__link {
    text-decoration: none;
    color: #000;
    text-transform: capitalize; }
    .nav__link:hover {
      border-bottom: .2rem solid #fff;
      padding-bottom: 1rem; }

.logo {
  width: 3rem;
  height: 3rem; }

.logo__img {
  width: 100%;
  height: 100%; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 2rem; }

.main-heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase; }

.main-paragraph {
  width: 50rem;
  font-size: 2rem;
  font-weight: 200; }

.hire-me {
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1.5rem 6rem;
  border: none;
  background-color: #fff;
  border-radius: 10rem;
  margin-top: 2rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
  outline: none;
  animation: wave 1s ease-out .3s;
  backface-visibility: hidden; }
  .hire-me:hover {
    cursor: pointer;
    background-color: transparent;
    border: .1rem solid #000; }

.technologies {
  grid-column: col-start 1 / col-end;
  padding: 0 2rem; }

.tools {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  font-size: 1.6rem;
  padding: 5rem 5rem -5rem 5rem; }

.tool {
  box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content;
  grid-gap: .5rem;
  justify-items: center; }
  .tool__icon {
    width: 3rem;
    height: 3rem;
    grid-column: 4/ span 2;
    margin-top: 2.5rem; }
  .tool__name {
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    grid-row: 2 / 3;
    grid-column: 2 / span 6;
    justify-items: center;
    align-self: center; }
  .tool__description {
    color: #777;
    padding: 1rem;
    grid-column: 1 / -1;
    grid-row: min-content;
    align-self: start; }

.projects {
  grid-column: col-start 1 / col-end;
  padding: 3rem 2rem; }

.project {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 10rem); }
  .project__img--box-1 {
    grid-column: 1 / span 5;
    grid-row: 1 / 4;
    box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem; }
  .project__img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-radius: 2rem; }
  .project__details-1 {
    background-color: #ebf5fc;
    box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1.5rem;
    grid-column: 4 / -1;
    grid-row: 3 / 6;
    z-index: 10;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 13rem 3rem;
    grid-row-gap: 3rem;
    grid-column-gap: 6rem; }
  .project__used-tech {
    grid-row: 7 / -1;
    transform: translateY(-2rem);
    height: .2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; }
    .project__used-tech li {
      color: #222;
      text-transform: uppercase;
      list-style: none;
      padding: .5rem;
      border-radius: .2rem;
      box-shadow: -0.2rem -0.2rem 0.6rem #e1e1e1, 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.1); }
  .project__img--box-2 {
    grid-column: 4 / -1;
    grid-row: 3 / -1;
    box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 2rem;
    padding: 1.5rem; }
  .project__img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-radius: 2rem; }
  .project__details-2 {
    background-color: #ebf5fc;
    box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 1.5rem;
    z-index: 10;
    padding: 1.5rem;
    grid-column: 1 / span 5;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 13rem 3rem;
    grid-row-gap: 3rem;
    grid-column-gap: 6rem; }
  .project__header {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 200;
    border-bottom: .2rem solid #fff;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    grid-column: 1 / -1; }
  .project__details--description {
    color: #777;
    grid-column: 1 / -1; }
  .project__used-tech {
    grid-row: 7 / -1;
    transform: translateY(-2rem);
    height: .2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; }
    .project__used-tech li {
      background-color: #ebf5fc;
      color: #222;
      text-transform: uppercase;
      list-style: none;
      padding: .5rem;
      border-radius: .2rem;
      box-shadow: -0.1rem -0.2rem 0.6rem white, 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.4); }

.vist {
  text-decoration: none;
  color: #222; }
  .vist:hover {
    color: #28e9ef; }

.about-section {
  grid-column: col-start 1  / col-end;
  padding: 3rem 2rem; }

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
  padding: 4rem;
  box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem; }
  .about__img-box {
    grid-column: 1 / 2;
    border-radius: 50%;
    padding: 3rem;
    box-shadow: 0.3rem 0.3rem 0.9rem white, -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.1); }
  .about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.9rem white, -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.1); }
  .about__info {
    grid-column: 2 / -1;
    font-size: 1.6rem;
    color: #777;
    background-color: #fff;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.9rem white, -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.1); }
    .about__info-text {
      margin-bottom: 6rem;
      transform: translateY(1.5rem); }

.contacts {
  grid-column: col-start 1 / col-end;
  padding: 2rem; }

.contact {
  grid-column: 1 / -1;
  box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1);
  margin: 5rem 0;
  border-radius: 2rem; }

.form-container {
  grid-column: 1 / -1;
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.form {
  width: 40%;
  display: flex;
  flex-direction: column; }
  .form__name {
    width: 100%;
    border: none;
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 1rem;
    outline: none; }
  .form__email {
    width: 100%;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding: 1rem 5rem 1rem 1rem; }
  .form__text-area {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem; }

.form > *:not(:last-child) {
  margin-bottom: 2rem;
  box-shadow: -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.1), 0.3rem 0.3rem 0.9rem white; }

.submit {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #28e9ef;
  width: 10rem;
  padding: 3rem 3rem;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #ebf5fc;
  box-shadow: -0.7rem -0.7rem 1.7rem white, 0.7rem 0.7rem 1.7rem rgba(0, 0, 0, 0.1); }
  .submit:active {
    box-shadow: 0.7rem 0.7rem 1.7rem white, -0.7rem -0.7rem 1.7rem rgba(0, 0, 0, 0.1); }

.submit:hover {
  cursor: pointer; }

.contact-me {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #28e9ef;
  text-align: center;
  padding-top: 2rem; }

.send-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #28e9ef; }

.contact-post-img {
  width: 40.8%;
  height: 40.8%;
  border-radius: 50%;
  box-shadow: -0.3rem -0.3rem 0.9rem rgba(0, 0, 0, 0.1), 0.3rem 0.3rem 0.9rem white; }

.contact-img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.social-media {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  border-top: .2rem solid #fff;
  margin: 0 auto; }
  .social-media__icon {
    width: 2.5rem;
    height: 2.5rem; }

.social-media > *:not(:last-child) {
  padding-right: 2rem; }

.footer {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 100;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  60% {
    opacity: .5;
    transform: translateY(-0.5rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-5rem); }
  60% {
    opacity: .5;
    transform: translateY(-0.2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes wave {
  from {
    transform: none; }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg); }
  to {
    transform: none; } }
